// 公共基础样式
// @import './variables.less';
// body{
//     color: @color-primary;
// }
body{
    background: #f5f7f9;
}
.van-hairline--bottom {
    background:#3296fa;
    .van-nav-bar__title {
        color: #000;
    }
}